# Server Configuration
PORT=5000
NODE_ENV=development

# Database Credentials & URI (e.g. mongodb+srv://username:password@cluster.mongodb.net/collabspace)
MONGO_URI=mongodb://127.0.0.1:27017/collabspace

# Security & Private Keys
JWT_SECRET=your_super_secret_jwt_access_key_here
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_key_here
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

# CORS & Client Application URL
CLIENT_URL=http://localhost:3000
